body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.blue-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: royalblue;
  height: 200px;
  width: 400px;
}

.generic-box {
  border-radius: 5px;
  height: 50px;
  width: 50px;
}